//- views/auth/login.pug
extends ../layout

block content
  .center-container
    .card
      h2 Login
      if error
        p.error-message= error
      form(method="post" action="/login")
        label(for="email") Email
        input(type="email" name="email" required)
        label(for="password") Password
        input(type="password" name="password" required minlength="6")
        button.btn-primary(type="submit") Log in
      p.small-text
        |  No account yet?
        a(href="/register") Register here
